/rosserial_test/build/*
/motor_test/build/*
/encoder_test/build/*
/rpm_using_period/build/*
/rpm_using_freq/build/*
/rpm_tuning/build/*
/rpm_using_mixed_method/build/*
/rpm_using_mixed_method_intr_anyedge/build/*
/mpu_test/build/*
/mpu_publisher/build/*
/BNO055_test/build/*
*.DS_Store